# version 0.0.2

# exclude the following files
__pycache__
**/__pycache__/**
**.txt
first_tests/**
**/.pylint*/**

# retain the following files
!data/sample_log.txt
!data/sampe_id.txt
!data/sample_v.txt
!data/sample.txt
